
.DS_Store
.metadata/
.metadata/.log

*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/LocaljobAndroidClient/.syncinfo.snap

*.snap

*.tree

*.class

.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

*.tree

*.prefs

*.index

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
