body{
	background-color:#26a9e0;
	padding-top: 40px;
	padding-bottom: 40px;
	color:white;
	height:100%;
}
html {
	height:100%;
}
a, a:hover {
	color:white;
	text-decoration:none;
}
h1, h2{
	text-align:center;
	color:white;
}
#logo{
	max-width:330px;
	padding: 10px;
}
#footer{
	text-align:center;
	height:10px;
}
#bar{
	margin-bottom:30px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -10px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

.modal-dialog{
	color:black;
}
.jumbotron{
	margin-top:12%;
	color:black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.divisore{				/*hr*/
	border:0px;
	height:1px;
	color:#fff;
	background-color:#fff;
}

/*LOGIN*/
.form-signin, .form-consumer, .centrato{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*SIGNIN_ROLE*/
.role{
	padding:0;
	margin:10px;
}
.role a{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*FORM NELLE VARIE PAGINE DI SIGNIN*/
.form-consumer input {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
 }
 .form-consumer img{
	margin:0;
	width:100%;
	height:100px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
 }
 .sx{
	float:left;
	width:70%;
	margin-right:0;
 }
 .dx{
	float:right;
	width:30%;
	margin-left:0;
 }
 #consMail{		/*i primi campi di ogni blocco saranno arrotondati*/
	border-top-left-radius: 5px;
 }
 #consRePsw{		/*gli ultimi campi di ogni blocco saranno arrotondati*/
	border-bottom-left-radius: 5px;
	margin-bottom:5px;
 }
 #consSex{
	margin-bottom:5px;
 }
 #consName, #consCel{		/*i primi campi di ogni blocco saranno arrotondati*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
 }
 #consDay, #consMonth{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width:50%;
 }
 #consYear{
	border-bottom-right-radius: 5px;
 }
 #consTel{		/*gli ultimi campi di ogni blocco saranno arrotondati*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom:5px;
 }